*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

HTML,body
{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    /* background-color: burlywood; */
    position: relative;

    padding-top: 1px;
}

#nav{
    height: 12vh;
    width: 100%;
    /* background-color: red; */
    margin-top: 40px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
#nav h4{
    /* height: 10vh; */
    /* padding: auto 20px; */
    border-right: 2px solid black;
    height: 100%;

    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;  
    font-weight: 600;
    font-size: 18px;
    /* background-color: blue; */
}
#nav h4:last-child{
    border-right: none;
    width: 10%;
}
#nav h1{
    height: 100%;
    width: 18%;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: "Archivo Black", sans-serif; 
    font-size: 46px;
    letter-spacing: -5px;
    font-weight: 700;
    position: relative;
}

#nav h1::after{
    content:"©️" ;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 10px;
    position: absolute;
    top: 20%;
    right: 12%;

}
#center{
    height: 90%;
    width: 100%;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4vw;
    position: relative;
}

#content{
    height: 100%;
    width: 100%;
    background-color: aqua;
    /* object-fit: cover; */
    position: relative;
}

#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay{
    height: 60%; 
    width: 100%;
    position: absolute;
    /* background-color: red; */
    bottom: 0;
    left: 0;
    padding-top: 5vw;
    padding-left: 2vw;
    padding-right: 2vw;
    color: white;
    /* z-index: -1; */
    background-color: rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(2px);
}
#over1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2vw;
    
}
#over1 h1{
    font-family: "Archivo Black", sans-serif;
    font-size: 4vw;
    letter-spacing: -5px;
    line-height: 59px;
    font-weight: 700;
    mix-blend-mode: difference;
}
#over2{
    border-top: 2px solid white;
    display: flex;
    justify-content: space-between;
    font-family: archivo-black-regular;
    align-items: center;
    /* padding: 3vw; */
    
}

#over1 h2{
    font-size: 1.5vw;
    padding: 2.5vw 2.5vw;
    /* background-color: blue; */
    border-radius: 50%;
    border: 2px solid white;
    mix-blend-mode: difference;

}

#over2 h4{
    /* height: 20px; */
    font-size: 1.3vw;
    font-weight: 500;
}

#over2 img{
    height: 3vw;
    /* width: 20px; */
}


#scroll{
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}
#container{
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    
    display: inline-block;
    padding: 2vw;
    animation-name: anime;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;


}
#scroll img{
    /* display: none; */
    /* background-color: red; */
    height: 100%;
    width: 15%;
    border-radius: 50%;
    object-fit: cover;
    /* object-position: top; */
    margin:0.9vw;
    
}

@keyframes anime{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}


#alphabet{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    gap: 2vw;
}

#alphabet h5{
    /* font-family: "Archivo Black", sans-serif; */
    font-size: 1.5vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 4px;
    border-bottom: 2px solid black;
    /* border-bottom: 2px solid black; */

}

#alphabet h6{
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 4px;
    /* padding: 0vw 0.7vw; */
    

}

#alphabet h6:hover{
    border: 2px solid black;
    border-radius: 50%;
    padding: 0.5vw;
    cursor: pointer;
    transition: all 0.3s ease;
}
#page2{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 5vw;
}
#pagepart1{
    height: 100%;
    width: 50%;
    background-image: url(https://images.unsplash.com/photo-1617113930975-f9c7243ae527?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: top;
    /* background-size: cover; */
    
}

#pagepart2{
    height: 100%;
    width: 46%;
}

#pagepart2 img{
    height:  70%;
    object-fit: cover;
    width: 100%;
    object-position: top;

}
#page3{
    height: 100%;
    width: 100%;
    position: relative;
    padding:  5vw 4vw;

}

#page3>h1{
    text-align: center;
    text-transform:uppercase ;
    font-size: 3vw;
    letter-spacing: -2px;
    margin-bottom: 6vh;
    font-family: "Archivo Black", sans-serif;
}

.elem{
    height: 15vh;
    width: 100%;
    border-top: 2px solid black;
    /* margin-top: 8vh; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
    
}

.elem h4{
    font-size: 1.5vw;
    font-weight: 500;
    width: 6%;
    /* background-color: red; */
    text-transform: uppercase;
}
.elem:last-child{
    border-bottom: 2px solid black;
}

.elem img{
    height: 100px;
    width: 120px;
    position: absolute;
    border-radius: 50%;
    left: 40%;   
    opacity: 0;
    transition: all 0.7s ease   ;
}
.lem :hover{
    background-color: rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(2px);
}
.elem:hover img{
    opacity: 1;
    left :30%;
}
.elem .elempart1{

}
#marq{
    /* height: 20vh; */
    width: 100%;
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    
}
#marq h1{
    display: inline-block;
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-text-stroke: 2px black  ;
     color: transparent;
     animation-name: marquee;
     animation-delay: 1s;
     animation-duration: 10s;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
     color: transparent;
     letter-spacing: 2px;
}

@keyframes marquee {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#footer{
    height: 100%;
    width: 100%;
}

@media(max-width:600px){
 #nav{
    height: 8vh;
    margin-top: 20px; 
    padding: 0 5vw;
    
}
#nav h4{
    /* height: 10vh; */
    /* padding: auto 20px; */
    border-right: 2px solid black;
    height: 100%;

    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;  
    font-weight: 600;
    font-size: 18px;
    /* background-color: blue; */
}
#nav h4:last-child{
    border-right: none;
    width: 10%;
}
#nav h1{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    font-family: "Archivo Black", sans-serif; 
    font-size: 22px;
    letter-spacing: -1px;
    font-weight: 700;
    position: relative;
}

#nav h1::after{
    content:"©️" ;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 10px;
    position: absolute;
    top: 20%;
    right: 12%;

}   
}